@font-face {
    font-family:'YesevaOne-Regular';
    src: url(fonts/YesevaOne-Regular.ttf);
} 

@font-face {
    font-family:'NunitoSans-Regular';
    src: url(fonts/NunitoSans-Regular.ttf);
}

@font-face {
    font-family:'NunitoSans-Italic';
    src: url(fonts/NunitoSans-Italic.ttf);
}

* {
    box-sizing: border-box;
    margin:0;
}

body {
    margin:0;
    
}


.container {
    max-width: 1256px;
    margin:0 auto;
}

.menu-content {
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:83px;
}

.header {
    background-color: #131313;
}

.logo{
color:#E3B873;
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-transform: uppercase;
}

.header-nav{
    list-style: none;
    display: flex;
}

.header-nav_item{
    margin-right:47px;
}

.header-nav_item a{
    text-decoration: none;
    color:#FFFFFF;
    Font-size: 11px;
    text-transform:uppercase;
}

.header-nav_item a:hover {
    color:#E3B873;
}

.button {
    cursor: pointer;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border:0;
    outline:0;
    padding:13px 33px;
    color:#FFFFFF;
    text-align:center;
    text-transform:uppercase;
    font-family:"NunitoSans-italic";
    font-style: italic;
}

.button:active{
    background:none;
    border-color: #FFFFFF;
    
    border-radius:2px;
}
.phone{
    font-size: 11px;
}
.phone:hover {
    color: #E3B873;
    text-decoration: underline;

}

.hero {
    background-image: url('images/background.jpg');
    background-size:cover;
    height:707px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-overlay{
    content:'';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0, .7);
}

.hero-container{
    position: relative;
    z-index: 1;
}

.title {
    margin:0;
    font-family: "YesevaOne-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 194px;
    max-width: 629px;
}

.paragraph{
    Font-family: "NunitoSans-Regular";
    Font-size: 22px;
    Color:#FFFFFF;
    max-width: 504px;
}

.city {
    color:#E3B873;
    font-family: "YesevaOne-Regular";
}

.section2{
    background-color:rgba(19, 19, 19, 1);
    height:1074px;
    padding-top: 107px;
}

.nav{
    
    list-style: none;
    display: flex;
    justify-content: flex-end;

}

.nav-item a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.3);
    Font-family: "YesevaOne-Regular";
    Font-style: Regular;
    Font-size: 14px;
    margin-right:60px;
    text-transform:uppercase;
}

.nav-item a:hover {
    color:#E3B873;
    text-decoration: underline;
}

.projects{
    display:flex;
    margin-top: 52px;
}

.title2{
    font-family:"YesevaOne-Regular";
    Font-size:27px;
    color:#E3B873; 
    text-transform: uppercase;
    padding-bottom: 34px;
    font-weight: 400;
}

.text_p{
    font-family:"NunitoSans-Regular";
    Font-size: 14px;
    color: #FFFFFF;
    line-height: 26px;
}

.text {
    font-family:"NunitoSans-Regular";
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;
}

.img {
    max-width:679px;
    margin-left: 50px;
}

.proj_about_info {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 42px;
}

.img_mobile1 {
    display:none;
}

.h3 {
    color:#E3B873;
    text-transform: uppercase;
    font-family: "YeseveOne-Regular";
    padding-bottom:9px;
    font-size: 18px;
}

.info{
    margin-bottom: 34px;
}

.svg {
    margin-top:84px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -316px;
}

.h3_1 {
    color:white;
    text-transform: uppercase;
    font-family: "YeseveOne-Regular";
    font-size: 20px;
}

.video_control_cont{
    text-align:center;
    margin-top: 30px;
    position: relative;
}

.image_video {
    height: 434px;
    width: 817px;
    box-shadow: 10px 10px 20px 0px #00000008;
    filter:brightness(20%);
    position: relative;
}

.play_icon {
    position: absolute;
    top: 136px;
    left: 330px;
}

hr {
    width: 55px;
    border: 1.54px solid #E3B873;
    margin:62px 0 34px 0;
}

.info_camera {
    Font-family: "NunitoSans-Regular";
    Font-size: 18px;
    Color:#363636;
    width: 681px;
    Line-height: 36.83px;
    text-align: center;
}

.form {
    display:flex;
    margin: 91px 0 35px 0;
    width:769px;
}

.section4{
    margin-top:142px;
}

.h3_types{
    font-family: "YeseveOne-Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.types_icon{
    text-align: center;
    margin-bottom: 31px;
}

.button_f {
    
    width: 200px;
    height: 51px;
}

.agreement_mobile {
    display: none;
}
.agreement{
    font-family:"NunitoSans-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.form_input {
    display: flex;
    flex-direction: column;
    font-family:"NunitoSans-Regular";
    font-size: 14px;
    line-height: 23px;
    margin-left: 58px;
    
}

.input {
    border:none;
    border-bottom: 1px solid #3636364D;
    background-color: transparent;
   
}

.span_label {
    font-family:"NunitoSans-Regular";
    font-size:13px ;
    color: #36363680;
}

.span_label2 {
    font-family:"NunitoSans-Regular";
    font-size: 14px;
}

.label1 {
    display:flex;
    flex-direction: column;
}

.label1:nth-child(2) {
    margin:auto 58px auto 58px;
}

.label {
    cursor: pointer;
    /* margin-bottom: 74px; */
  }

  .checkbox{
    display: none;
  }

  .fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
  }

  .fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
  }

  .checkbox:checked + .fake::before{
    opacity: 1;
  }


  .t_of_repair {
    display: flex;
  }

  .t_of_repair_item{
    max-width:392px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
  }

  .t_of_repair_item:nth-child(2) {
    margin: 0 30px;
  }

  .item_info {
    background-color: #FFFFFF;
    margin-top: -127px;
    width:330px;
    height:268px;
    position: relative;
    z-index: 2;
    text-align: left;
    box-shadow: 10px 10px 20px 0px #00000008;
    
  }

  .item_info_list {
    color:#959595;
    font-family:"NunitoSans_Regular";
    font-size:13px;
    line-height:26px;

  }

  .ul {
    margin-top:13px;
  }

  .h4 {
    padding-top:25px;
    padding-left: 31px;
    font-family: "YesevaOne-Regular";
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0em;
  }

  .cost {
    font-family: "YesevaOne-Regular";
    font-size: 18px;
    font-style: normal;
    max-width: 228px;
    padding-top:17px;
    padding-bottom: 17px;
    padding-left: initial;
    padding-right: initial;
  }

  .request{
    display:flex;
    justify-content: space-between;
    margin-top: 124px;
  }

  .request_info{
    background-image: url('images/background_2.jpg');
    display: flex;
    flex-direction: column;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top:49px;
    width:539px;
    height:527px;
  }

  .request_form{
    font-family: "NunitoSans-Regular";
    font-weight: 400;
    font-size: 14px;
    margin-top:49px;
    background-color:#131313;
    width:509px;
    height:506px;
    color:#FFFFFF;
    display:flex;
    flex-direction: column;
    padding:28px 49px;
  }

.request_form_group{
    display:flex;
    flex-direction: column;
}

.request_form_group:nth-child(2) {
    margin-top: 39px;
}

.request_form_group:nth-child(3) {
    margin-top:48px;
    margin-bottom:48px;
}

.request_form_group:nth-child(4) {
    margin-bottom:16px;
}


.input2 {
    border:none;
    border-bottom: 1px solid #FFFFFF26;
    background-color: transparent;
}

.button_cont2{
    text-align: right;
    margin-top: 33px;

}


  .request_item {
    display: flex ;
    align-items: center;
    margin-left: 151px;
    margin-bottom:90px;
    color:black;
    font-family: "NunitoSans-Regular";
    font-size: 14px;
  }

  .request_item_symbol{
    height: 56px;
    min-width: 56px;
    border-radius: 50%;
    background-color: #E3B873;
    box-shadow: 0 5px 15px 0 rgb(227 184 115 / 15%);
    text-align: center;
    padding-top: 7px;
    margin: auto 0;
    border: 8px solid #FFFFFF;
  }

  .white_number {
    Font-family: "YesevaOne-Regular";
    Font-size: 18px;
    Line-height: 24.95px;
    Line-height: 120%;
    Text-align: Center;
    Color:white;
    font-weight: 400;
  }

  .request_item_text{
    margin-left: 9px;

  }

  .h5{
    font-family: "NunitoSans-Regular";
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    font-weight: normal;
    margin-left:58px;
    margin-right:58px;
  }

  .span {
    font-size: 13px;
    color: #FFFFFF80;

  }

.section5{
    background-image: url('images/!Backgr_FANT.jpeg');
    height: 864px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .fantasies {
   
    display:flex;
    margin-top: 302px; 
 } 
 
.fantasies_container {
    margin-top:137px;
}

.fantasies_eg_mobile {
    display:none;
}

.fantasies_list {
    list-style: none;
    padding-left: 0%;
}

.fant_list_a {
    text-decoration: none;
    color:#FFFFFF;
    font-family: "NunitoSans-Regular";
    font-size: 20px;
    line-height: 38px;
    text-align: left;
}

.fant_list_a:hover{
    color:#E3B873;
    text-decoration: underline;
}

.fantasies_photos{
    display:grid;
    max-width: 751px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1 fr);
    grid-column-gap:43px;
    grid-row-gap:38px;
    margin-right:102px;

}

.fantasy_img_div {
    max-width:354px;
}

.fantasy_img_div:nth-child(1) {
    grid-column: 1;
    grid-row: 1/3;
    margin-top: -41px;
}
.fantasy_img_div:nth-child(2) {
    margin-top: -112px;

}
.fantasy_img_div:nth-child(4) {
    grid-column: 2;
    grid-row: 2/4;
}

.client_button {
    margin-top:63px;
    height:54px;
    max-width: 293px;
    background-color: #E3B873;
    color:white;
    text-transform: uppercase;
    font-family: Yeseva One;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    
}

.client_button_a1 {
    vertical-align:top;
}

.client_button_a2 {
    vertical-align:top;
    
    }

.client_button_a1::before{
    content: url("images/button_clients1.svg");
    margin-right:15px;
    margin-left:17px;
}


.client_button_a2::before {
    content: url("images/button_clients2.svg");
    margin-right:15px;
    margin-left:17px;
    
}

.clients {
    margin-top: 85px;
    display:flex;
    flex-direction: column;
    align-items: center;
}   

.clients_info {
    text-align: center;
    margin-bottom: 45px;
}


.clients_items {
    display:flex;
    justify-content: space-between;

}

.h3_clients{
    font-family: "YesevaOne-Regular";
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.clients_p {
    font-family: "NunitoSans-Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    width: 456px;
    margin-bottom:63px;

}

.client_header {
    display:flex;
}

.clients_text{
    font-family: "NunitoSans-Regular";
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color:#959595;
}

.client_photo {
    border:none;
    border-radius: 50%;
}

.client {
    box-shadow: 0px 10px 50px 0px #0000000A;
}

.client:nth-child(2){
    margin:auto 80px;
}

.client:nth-child(1){
    margin-left:40px;
}

.client:nth-child(3){
    margin-right:40px;
}

.button_cont {
background: #E3B873;
color:#FFFFFF;
text-align:center;
text-transform:uppercase;
font-family:"YesevaOne-Regular";
font-size: 17px;
box-shadow: 5px 5px 20px 0px #E3B87380;
margin-top:40px;
border:none;
}

.button_container{
    display: flex;
    padding:8px 20px;
}

.button_text {
    vertical-align:bottom;
}


.section7 {
    background-image: url('images/bgr_contacts.jpeg');
    height: 954px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.part7 {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:390px;
}

.questions_form {
    font-family:"NunitoSans-Regular";
    padding:34px 181px;
    background-color:#131313;
    width:883px;
    height:445px;
    color:#FFFFFF;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:-220px;
}

.request_form_group_cont{
    display:flex;
    margin-top:46px;
}

.request_form_group2:nth-child(2) {
    margin-top:0;
    margin-left:58px;
}

.request_form_group2:nth-child(1){
    width: 231px;
}

.request_form_group2:nth-child(2){
    width: 231px;
}

    .request_form_group2:nth-child(3){
        width:517px;
    }

.h5_2{
    font-family: "YesevaOne-Regular";
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    }


.contact_icons {
    display:flex;
    margin:40px auto;
    justify-content: center;
}

.icon:nth-child(1) {
    margin-right:10px;
}

.icon:nth-child(2) {
    margin-left:10px;
}

.contacts {
font-family: "YesevaOne-Regular";
font-size: 20px;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
color: #E3B873;
margin-top:52px;
text-transform: uppercase;
}

.contacts_cont_mobile {
    display:none;
}

.map {
    height: 465px;
    width: 925px;
}

.footer {
    background-color: #181818;
    
}



@media (max-width:375px) {

    .container {
        max-width: 340px;
    }
    
    .header-nav{
        display: none;
    }

    .button_nav{
        display: none;
    }
    
    .menu-content {
        display: flex;
        align-items: center;
        height:57px;
        justify-content: space-around;
    }

    .hero {
        height:476px;
    }

    .hero-container{
        position: relative;
        z-index: 1;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .button_sec1 {
        width: 80%;
        margin-top:26px;
    }

    .button_sec1_2{
        /* display:none; */
        
    }

    .nav {
        display:none;
    }

    .section2{
        height:fit-content;
        padding-top: 36px;
    }

    .title {
        font-size:23px;
        margin: auto 18px;
        line-height: 31px;
        padding-top: 85px;
    }

    .paragraph {
        font-size: 14px;
        line-height: 19px;
        margin: 16px 18px;
        

    }

    .projects{
        display:flex;
        margin-top:0;
        flex-direction: column;
        align-items: center;
    }

    .title2{
        Font-size:22px;
        padding-bottom: 34px;
        text-align: center;
        margin:auto 50px;
        line-height: 31px;
    }

    .text_p{
        Font-size: 11px;
        line-height: 18px;
        text-align: center;
        margin:0 40px 70px 40px;
    }

    .text {
        font-size: 11px;
        line-height: 15px;
    }

    .img {
        display:none;
    }

    .img_mobile1 {
        display:block;
        max-width: 340px;
        margin:0 18px;
        position: relative;
    }

    .arrow_left {
        display:block;
        position: absolute;
        top:100px;
        left:14px;
    }
    .arrow_right {
        display:block;
        position: absolute;
        top:100px;
        left: 288px;
        
    }

    .h3 {
        font-size: 14px;
        line-height: 19px;
    }
    .svg {
        display:none;
    }

    .center {
        margin-top: 0px;
    }

    .info:nth-child(1){
        margin-left:18px;
    }
    .info:nth-child(3){
        margin-left:18px;
    }

    .section3 {
        background-color:#131313;
        ;
    }

    .h3_1 {
        margin-bottom:20px;
       line-height: 31px;
        font-size: 22px;
    }

    .image_video {
        height: 207px;
        width: 340px;
    }

    .play_icon {
        position: absolute;
        width: 100px;
        height:100px;
        top:50px;
        left:120px;
    }

    hr {
        margin:42px 0 34px 0;
    }

    .info_camera {
        
        Font-size: 11px;
        Color:white;
        width: 340px;
        Line-height: 19px;
        text-align: center;
    }

    .form {
        display:flex;
        width:340px;
        flex-direction: column;
        margin-top: 61px;;
    }

    .span_label {
        color: #FFFFFF80;
    }
    
    .span_label2 {
        color: #FFFFFF;
    }
    .label1 {
        display:flex;
        flex-direction: column;
    }

    .input {
        border:none;
        border-bottom:1px solid #3636364D;
        background-color: transparent;
    }

    .label1:nth-child(2) {
        margin:63px 0 0 0;
    }

    .agreement {
        display:none;
    }
    .agreement_mobile {
        display: block;
        margin-top: 27px;
        margin-bottom: 62px;
        color:#FFFFFF;
    }
    .agreement_mobile2 {
        display: block;
        margin-top: 27px;
        margin-bottom: 62px;
        color:#FFFFFF;
        margin-left:18px;
    }

    .section4 {
        margin-top:70px;
   }

   .h3_types{
    font-size: 22px;
    font-weight: 400;
    line-height: 31px;
    text-align: center;
}
   .button_f {
    
    width: 340px;
    height:51px;
    margin-bottom:-60px;
}

.button_cont2_mobile{
    margin-bottom:46px;
    margin-left:18px;
}

.t_of_repair {
    flex-direction: column;
  }

  .t_of_repair_item:nth-child(1){
   margin-top:40px;
  }
  .t_of_repair_item:nth-child(2){
    margin-top:60px;
   }
   .t_of_repair_item:nth-child(3){
    margin-top:60px;
   }

   .request{
    display:none;
    }

    .section5{
        background-image:none;
        background-color: #FFFFFF;
        height:fit-content;
    }

    .fantasies {
        margin-top: 75px;
    }

    .fantasies_container {
        margin-top:0px;
    }

    .fantasies_list {
        display:none;
    }

    .fantasies_photos{
        display:none;
    }

    .fantasies_eg_mobile {
        display:block;
        text-align: center;
        margin-bottom: -160px;
        position:relative;
        z-index: 2;
    }


    .section6 {
        display:none;
    }

    .section7 {
        background-image: none;
        background-color:#131313;
        height:fit-content;
    }

    .part7 {
        margin-top: 260px;
        background-color: #131313;
    }
    .request_form_group_cont{
      flex-direction: column;
      margin-left:18px;
    }

    .questions_form{
        width: 375px;
        height:fit-content;
        padding:173px 0 0 0;
        align-items: start;
    }

    .request_form_group2{
        margin-left: 18px;
        font-size: 14px;
        line-height: 23px;
        font-weight: normal;
        
    }

    
    .request_form_group2:nth-child(1){
        width: 340px;
        margin-left:0px;
        margin-bottom: 61px;
    }
    .request_form_group2:nth-child(2){
        margin-left:0px;
        width: 340px;
        
    }
    .request_form_group2:nth-child(3){
        width: 340px;
    }

    .contacts_cont_home { 
        display:none;
    }
    
    .map {
        width:340px;
        height:255px;
    }

    .contacts_cont_mobile {
        display:block;
        
    }

    .contacts {
        font-size: 18px;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        padding:o 15px o 15px;
        
    }

    .icon {
        width: 39px;
        height:39px;
        margin-bottom:49px;
    }

    .footer {
        display:none;
    }
}
